h1{
    text-align: center;
}

.Castle{
    
}

.Kent{
  text-align: center;
}

* {
    box-sizing: border-box;
  }
  
  body{
  background-color: #F5F7FF;
  }
  @media screen and (max-width:640px) {
    /* for screens that are at least 320 pixels wide but less than or equal to 640 pixels wide */
    img{
        display: none;
    }
    span{
      font-size: 6vw;
    }
    h1{
      font-size: 9vw;
    }
    h2{
      font-size: 6vw;
    }
  }