
* {
  box-sizing: border-box;
}

body{
background-color: #F5F7FF;
}

.left_side{
  padding: 2%;
  margin-right: 2%;
}

#map {
width: 60vw;
height: 50vh;
margin: 2%
}


@media screen and (max-width:640px) {
  /* for screens that are at least 320 pixels wide but less than or equal to 640 pixels wide */
  img{
      display: none;
  }
  span{
    font-size: 4vw;
  }
  h1{
    font-size: 9vw;
  }
  h2{
    font-size: 6vw;
  }
}
