
/* Background Color */
body {
    background-color: #E8E6E0;
}

/* About Us Section CSS - Delaware Assure */

/* .about-us-section { 
	background-color: #80A2DA;
	margin: 0px;
	width: 100%;
	height: 386px;
	position: absolute;
	left: 0px;
	top: 56px;
}

.title-for-about-us { 
	color:white;
	width: 228px;
	height: 32px;
	position: absolute;
	left: 210px;
	top: 100px;
	font-family: Lato;
	font-size: 30px;
	font-weight: 700;
}

.about-us-text { 
	color: white;
	width: 364px;
	height: 88px;
	position: absolute;
	left: 210px;
	top: 160px;
	font-family: Lato;
	font-size: 24px;
	font-weight: 700;
}

.button-for-about-us {
	width: 269px;
	height: 50px;
	border-radius: 25px;
	background-color: #29B7DD;
	color: white;
	border: 0px solid white;
	position:absolute;
	left: 210px;
	top: 340px;
} */

.d-assure{
	padding: 40px;
	color: white;
}

.learn_more{

}

.h1 {
	font-size:  8vw;
}
.about-us-text{
	word-wrap: break-word;
}

.left_flex{
	width: 45%;
	font-size: 1.75vw;
	margin: 2%;
}
.left_flex p{
	font-size: 1.25vw;
}

.padding{
	padding: 50px;
}
.learn_more{
	border: none;
	border-radius: 25px;
	color:white;
	background-color:#29B7DD;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 1.45vw;
	padding: 10px 100px 10px 100px;
}
.learn_more:hover{
	background-color:  rgb(33, 199, 199);
	transition: background-color .5s;
}
.h2{
	font-family: Lato;
	font-style: normal;
	font-weight: 600;
}
.h5{
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
}
.Resources{
	margin-top: 2%;
	margin-bottom: 3%;
}
.a{
	padding: 90px 40px 90px 40px;
	/* margin: 20px; */
	margin-right: 7%;
	margin-left: 7%;
	margin-bottom: 5%;
	cursor: pointer;
	background-color: #80A2DA;
	text-decoration: none;
	color: rgb(255, 254, 254);
}
.a:hover{
	background-color: #5e97f3;
	transition: background-color .3s;
	
}
