body{
background-color: #F5F7FF;
font-family: Lato;
}

h4, h1{
    text-align: center;
    font-weight: bold;
}

h1{
    margin-top: 20px;
    margin-bottom: 30px;
}



.container, .second-container, .third-container, .fourth-container, .final-container{
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
   
    }

    span{
        font-size: 6vw;
      }
      
        h2{
            position: relative;
            left: 20px;;
        }
        

        #img1, #img2, #img3, #img4, #img5{
            margin-left: 50px;
            height: 300px;
            width: 220px;
        }

        #para1, #para2, #para3, #para4, #para5{
            font-size: 18px;
            margin-left: 100px;
        }

        @media (max-width: 800px) {
            
            .container, .second-container, .third-container, .fourth-container, .final-container {
              flex-direction: column;
              margin-left: 0px;
            }
            
           
            
            h2{
                text-align: center;
            }
            .federal-container{
                flex-direction: column;
              
                left: 0px;
            }
        }

        .federal-container{
            display: flex;
            justify-content: space-between;
            position: relative;
        }

        .group{
            margin-right: 225px;
            height: 225px;
            width: 225px;
        }

        .group2{
            height: 225px;
            width: 225px;
            margin-right: 550px;
        }


        .resize{
            position: relative;
            right: 74px;
        }

        #apply{
            position: relative;
            right: 30px;
        }
        .president{
            position: relative;
            right: 74px;
        }

        .senator, #para1{
            position: relative;
            right: 74px;
        }

        .nav-item{
            position: relative;
            left: 850px;
          }