body {
    background-color: #E8E6E0;
}

.title-for-financial-resources {
    text-align: center;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 35px;
}

.li-properties {
    margin-top: -30px;
}

.div-main-contain {
    margin-bottom: 50px;
}

.footer p {  /* Selects text inside a <p> tag that is inside a .footer <div> */
    margin-bottom: 0; /* removes default <p> tag margin from the bottom */
}